body{
    background-color: rgba(254, 254, 254, 0.854);
    padding: 0;
    margin: 0;
    border: 0;
    font-family:Verdana, Tahoma, sans-serif;
    font: Verdana;
    background-image: url('https://image.freepik.com/vetores-gratis/fundo-branco-tecnologia_23-2148421514.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.informaçõesPessoais{
    padding: 3%;
    width: 45%;
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    border: 2px solid rgb(254, 144, 9);
    margin-bottom: 2%;
}
img{
    margin-left: 20%;
    width: 65%;
    border-radius: 15%;
    padding-bottom: 10%;
}
main{
    align-items: center;
    display: flex;
    flex-direction: column;
}
div{
    margin: 0 auto;
    width: 50%;
    background-color: rgb(241, 240, 240);
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.skills{
    width: 45%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 2px solid rgb(254, 144, 9);
}
nav{
    background-color: rgb(254, 144, 9);
    margin-bottom: 3%;
    padding: 2% 0;
}
nav a{
    font: verdana;
    color: rgb(241, 240, 240);
    text-decoration: none;
    font-size: 25px;
}
nav img{
    width: 7%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}